In [91]:
import requests
import json
url = 'http://127.0.0.1:5000/user'
data = {"watcher-api-request":{"requestAction":{"watchers-management":{"SetWorkingEvents":
 {'app': ['ARGE','Atom','Safari','Postman','Atom', 'Safari','Safari','Safari'],
 'title':['Postman','API_my2sec.py — ~/Documents/Python_SIGNALS','Editing my2sec/README.md at API-ActivityWatch · vaimee/my2sec','Postman','API_my2sec.py — ~/Documents/Python_SIGNALS', 'ActivityWatch','Untitled - Jupyter Notebook','Pandas - Replace NaN Values with Zero in a Column - Spark by {Examples}'],
 'url':  ['None','None','None','None','None', 'None','None','None'],
 'working_selection': ['1','0','0','0','0','0','0','0']}}}}}
             
data = json.dumps(data)
r = requests.post(url, json=data)

In [92]:
r.content

b'all CSVs updated'